body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'merriweather', serif;
}

header{
    background-image: url(../images/bg-intro.jpg);
    background-size: cover;
    height: 700px;
    position: relative;
    background-position: center;
    margin-bottom: 0px;
    display: flex;
    width: 100%;
    flex-direction: column;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 0px;
    align-items: center;
}

#logo{
    width: 430px;
    height: 200px;
    padding: 8px;
    border: 2px solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    z-index: 1;
}

nav{
    padding: 10px;
}

nav >a{
    text-decoration: none;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    color: white;
    padding: 9px 10px;
    margin: 2px;
    background-color: orangered;
    display: inline-block
}

li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 400px;
    text-align: center;
    display: block;
    margin: 8px 8px;
}

ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    overflow: hidden;
}

.main-info{
   font-family: "myriad-pro-condensed", sans-serif;
   font-size: 10px;
   font-weight: 700;
   color: white;
}

a.scroll-arrow{
    text-decoration: none;
    display: block;
    width: 43px;
    height: 43px;
    position: absolute;
    left: 49%;
    bottom: 50px;
    z-index: 2;
}

.main{
    background-image: url(../images/homepage-2-2_02.jpg);
    background-size: cover;
    position: relative;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-family: "Inter", serif;
    font-size: 30px;
    padding: 10px;
    text-align: center;
}

.main-message{
    width: 600px;
    height: auto;
    border: 2px solid #b6915f;
    padding: 0px 20px ;
    text-align: center;
    line-height: 1.7rem;
    font-family: "myriad-pro-condensed", sans-serif;
}

.sub-message{
    display: block;
    width: 600px;
    height: 100px;
    text-align: center;
    line-height: 1.7rem;
    font-family: "myriad-pro-condensed", sans-serif;
}

.signature{
    margin-left: 450px;

}

.quote-section{
    background-image: url(../images/bg-four.jpg);
    background-size: cover;
    height: 700px;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    font-family: "myriad-pro-condensed", sans-serif;
    line-height: 1.7rem;
}

.quote{
    border: 2px solid white;
    padding: 60px;
    margin: auto;
    width: 80%;
    height: 350px;
    font-size: 20px;
}

.offer-section{
    display: flex;
    flex-direction: column;
    background-image: url(../images/bg-five.jpg);
    background-size: cover;
    width: 100%;
    background-position-x: 50%;
    background-position-y: 50% ;
    height: 900px;
    align-items: center;
}

.offer{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    
}

.menu{
    display: flex;
    flex-direction:column;
    width: 350px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px 30px;
}

p{
    line-height: 1.7rem;
    font-family: "myriad-pro-condensed", sans-serif; 
}

.download-btn{
    display: block;
    width: 300px;
    height: 40px;
    border: 3px solid black;
    text-align: center;
    padding-bottom: 20px;
    margin-top: 20px;
    line-height: 0;
    margin-top: 30px;
    font-family: 'merriweather', serif;
}

.food-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../images/bg-body.jpg);
    background-size: cover;
    justify-content: center;

}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 5px;
    width: 100%;
    justify-content: center;
}

.grid-item > img{
    width: 200px; 
    height: 200px;
}

.instagram-btn{
    display: flex;
    flex-direction: row;
    width: 200px;
    height: 40px;
    background-color: #C4986B;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 100px;
    text-align: center;
}

footer{
    background-color: #050706;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dash-line{
    margin-top: 40px;
}

.contact-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contact-container > div{
    padding: 0px 70px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div > h3{
    font-family: Helvetica, sans-serif;
    font-weight: 200;
    letter-spacing: 2px;
    color: #CEC9C5;
}

.contact > p{
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
}

.social-section{
    display: flex;
    align-content: center;
}

.footer-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
}



@media only screen and (max-width: 768px) {
    .navbar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
           }

    nav{
        flex: 100%;
        width: 95%;
        padding: 20px;
        background: black;
        text-align: center;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }

    .main{
        background-position-x: 50% ;
        background-position-y: 0%;
        text-align: center;
        height: auto;
    }

    .main-message{
        width: 60%;
        padding: 10px;
        height: auto;
    }

    .sub-message{
        width: 60%;
    }
    
    .signature{
        margin-left: 80px;
        text-align: center;
        display: block;
        margin-top: 100px;
    }

    .quote-section{
        background-position-x: 50% ;
        background-position-y: 50% ;

    }

    .quote{
        width: 60%;
        height: auto;
    }

    .offer-section{
        background-position-x: 50%;
        background-position-y: 50% ; 
        height: auto;
    }

    .offer{
        flex-direction: column;
        padding-bottom: 100px;
        align-items: center;
        justify-content: center;
    }

    .download-btn{
        margin-bottom: 500px;
    }

    .grid-container{
        display: grid;
        grid-template-columns: auto auto auto auto;
    }

    /* .grid-container{
        display: grid;
        grid-template-columns: auto auto ;
        gap: 10px;
    } */

    .grid-item >img {
        width: 150px; 
        height: 150px;
    }
    .dash-line{
        margin-left: 20px ;
        margin-right: 20px;
    }
    .dash-line > img{
       display: block;
       margin: auto;
       height: 12px;
       background-repeat: repeat-x;
    }

    .contact-container{
        flex-direction: column;
    }

    .contact{
        margin-top: 0px;
    }
    
}

@media only screen and (max-width: 600px) {
    body{
        width: 100%;
    }
    .navbar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
           }

    nav{
        flex: 100%;
        width: 90%;
        padding: 20px;
        background: black;
        text-align: center;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }

    #logo{
        width: 300px;
        height: 200px;
        padding: 8px;
        border: 2px solid black;
        display: block;
        margin-left: auto;
        background-position-x: 50%;
        background-position-y: 50% ;
        margin-right: auto;
        margin-top: 120px;
        z-index: 1;
    }

    .main{
        background-position-x: 50% ;
        background-position-y: 0%;
        text-align: center;
        height: auto;
    }

    .main-message{
        width: 60%;
        padding: 10px;
        height: auto;
    }

    .sub-message{
        width: 60%;
    }
    
    .signature{
        text-align: center;
        display: block;
        margin-top: 180px;
    }

    .quote-section{
        background-position-x: 50% ;
        background-position-y: 50% ;
        height: auto;
    }

    .quote{
        width: 60%;
        margin-top: 20px;
        height: auto;
        margin-bottom: 20px;
    }

    .offer-section{
        background-position-x: 50%;
        background-position-y: 50% ; 
        height: auto;
    }

    .offer{
        flex-direction: column;
        padding-bottom: 100px;
        align-items: center;
        justify-content: center;
    }

    .menu{
        justify-content: center;
        width: 100%;
        padding: 10px;
    }

    .download-btn{
        margin-bottom: 500px;
    }

    .grid-container{
        display: grid;
        grid-template-columns: auto ;
        gap: 10px;
    }

    .grid-item >img {
        width: 300px; 
        height: 250px;
    }
    .dash-line{
        margin-left: 20px ;
        margin-right: 20px;
    }
    .dash-line > img{
       display: block;
       margin: auto;
       height: 12px;
       background-repeat: repeat-x;
    }

    .contact-container{
        flex-direction: column;
    }

    .contact{
        margin-top: 0px;
    }
    
}